<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

		<services>
   <service behaviorConfiguration="SvcBehavior" name="WS_SOAP_DOTNET_GR69.Services.ConversionService">
    <endpoint address="" binding="basicHttpBinding" contract="WS_SOAP_DOTNET_GR69.Services.IConversionService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="SvcBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>